.container {
  display: flex;
  flex-direction: column;
  justify-items: center;
  /*align-items: center;*/

  max-width: 640px;
  margin: 0 auto;
}

.number {
  text-align: center;
}

.status {
  color: #00CCCC;
}

.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.total {
  display: flex;
  flex-direction: row;
  align-items: center;
}

