.constructor {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-end;
  width: 600px;
}

.list {
  display: grid;
  grid-template-columns: max-content;
  gap: 16px;
}

.container {
  display: flex;
  align-items: center;
}
