.page {
  max-width: 1480px;
  margin: 0 auto;
}

.body {
  max-width: max-content;
  margin: 0 auto;
  display: grid;
  grid-template-columns: max-content max-content;
  gap: calc(var(--offset-base-size)  * 10);
}
