.header {
  height: 88px;
  display: flex;
  align-items: center;
  background-color: #1c1c21;
}

.nav_body {
  max-width: 1250px;
  margin: 0 auto;
  width: 100%;
}

.main_list {
  margin: 0;
  padding: 0;
  list-style: none;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.main_list_item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main_list_item:first-of-type {
  justify-self: left;
}

.main_list_item:last-of-type {
  justify-self: right;
}

.sub_list {
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
}

.link_container {
  display: flex;
  justify-content: left;
  align-items: center;
  width: max-content;
}

.link {
  text-decoration: none;

  display: flex;
  align-items: center;
}
